# Email ETL Demo Notebook

This notebook demonstrates the end-to-end ETL pipeline for parsing `.eml` email files.

Pipeline flow:
1. **Extract** → Parse `.eml` → messages + attachments
2. **Transform** → Enrich, normalize, and run data quality checks
3. **Merge** → Link attachments to parent messages
4. **Load** → Save results to CSV & SQLite
5. **Batch Control** → Track ETL metadata and summarize results

We'll use generated sample `.eml` files for testing.

In [1]:
# Setup
from etl.transform.processor import process_files_parallel, merge_messages_with_attachments
from etl.transform.enrichments import enrich_messages, enrich_attachments
from etl.transform.data_quality import run_data_quality
from etl.load.storage import Storage
from etl.load.batch_control import BatchControl
from config import settings
import os

# Generate sample emails if missing
sample_dir = "examples/sample_emails"
if not os.path.exists(sample_dir) or not any(f.endswith('.eml') for f in os.listdir(sample_dir)):
    from examples.generate_sample_eml import generate_eml
    generate_eml(sample_dir, count=5)

print(f"Using sample emails from: {sample_dir}")

Using sample emails from: examples/sample_emails

## Step 1: Extract
Parse `.eml` files into messages and attachments.

In [2]:
messages_df, attachments_df, file_count = process_files_parallel(sample_dir, max_workers=2)
print(f"Processed {file_count} files")

display(messages_df.head())
display(attachments_df.head())

Processed 5 files

,email_id,message_id,timestamp,speaker_name,speaker_contact,message,with_attachment
0,sample_1,2a3c618c-0caf-4855-b983-fb8a17c28afd,2025-10-04T06:46:39.083897Z,Alice Example,alice@example.com,"Hello team, please find attached the report.",None
1,sample_3,e8d78d1f-6ebf-404c-ac1b-710112307120,2025-09-28T06:46:39.085909Z,Carol Test,carol@example.com,Here is the updated project plan.,None
2,sample_2,36babef1-9262-4c82-a6d4-72b2159c5d74,2025-10-01T06:46:39.085684Z,Bob Demo,bob@example.com,Reminder: standup meeting tomorrow at 9am.,None
3,sample_5,0381bff2-7824-47a9-8854-47d97ffa0e34,2025-09-22T06:46:39.086356Z,Bob Demo,bob@example.com,Attached is the invoice for last month.,None
4,sample_4,5ceaf3a3-26b8-434c-b109-9013cc8ca273,2025-09-25T06:46:39.086166Z,Alice Example,alice@example.com,Let's schedule a call next week.,None

,email_id,attachment_name,content_id,content_type
0,sample_1,attachment_0.txt,5e990ec9-3fda-4b5f-8e33-b684e510eaca@example.com,text/plain
1,sample_3,attachment_2.txt,de13a5dd-cfa4-4ae5-bb28-67b411a10214@example.com,text/plain
2,sample_5,attachment_4.txt,4ce7658f-54e8-4ebd-9df9-087962fbe86a@example.com,text/plain

## Step 2: Transform
- Link attachments to their parent messages (1-to-many) and flag messages that contain attachments.
- Enrich message and attachment data with batch partition date.

In [3]:
messages_df, attachments_df = merge_messages_with_attachments(messages_df, attachments_df)
messages_df = enrich_messages(messages_df.copy())
attachments_df = enrich_attachments(attachments_df.copy())

print(f"Messages with attachments: {messages_df['with_attachment'].sum()}")
display(messages_df.head())
display(attachments_df.head())

Messages with attachments: 3

,email_id,message_id,timestamp,speaker_name,speaker_contact,message,with_attachment,batch_dt
0,sample_1,2a3c618c-0caf-4855-b983-fb8a17c28afd,2025-10-04T06:46:39.083897Z,Alice Example,alice@example.com,"Hello team, please find attached the report.",True,2025-10-04
1,sample_3,e8d78d1f-6ebf-404c-ac1b-710112307120,2025-09-28T06:46:39.085909Z,Carol Test,carol@example.com,Here is the updated project plan.,True,2025-10-04
2,sample_2,36babef1-9262-4c82-a6d4-72b2159c5d74,2025-10-01T06:46:39.085684Z,Bob Demo,bob@example.com,Reminder: standup meeting tomorrow at 9am.,False,2025-10-04
3,sample_5,0381bff2-7824-47a9-8854-47d97ffa0e34,2025-09-22T06:46:39.086356Z,Bob Demo,bob@example.com,Attached is the invoice for last month.,True,2025-10-04
4,sample_4,5ceaf3a3-26b8-434c-b109-9013cc8ca273,2025-09-25T06:46:39.086166Z,Alice Example,alice@example.com,Let's schedule a call next week.,False,2025-10-04

,email_id,attachment_name,content_id,content_type,message_id,batch_dt
0,sample_1,attachment_0.txt,5e990ec9-3fda-4b5f-8e33-b684e510eaca@example.com,text/plain,2a3c618c-0caf-4855-b983-fb8a17c28afd,2025-10-04
1,sample_3,attachment_2.txt,de13a5dd-cfa4-4ae5-bb28-67b411a10214@example.com,text/plain,e8d78d1f-6ebf-404c-ac1b-710112307120,2025-10-04
2,sample_5,attachment_4.txt,4ce7658f-54e8-4ebd-9df9-087962fbe86a@example.com,text/plain,0381bff2-7824-47a9-8854-47d97ffa0e34,2025-10-04

## Step 3: Data Quality Checks
Run data quality checks on the messages table after enrichment and merge.

In [4]:
dq_issues = run_data_quality(messages_df, name="Messages")
print(f"Data quality issues found: {len(dq_issues)}")
display(dq_issues.head())

Data quality issues found: 0

Empty DataFrame
Columns: [email_id, message_id, timestamp, speaker_name, speaker_contact, message, with_attachment, batch_dt]
Index: []

## Step 4: Load
Save both tables to CSV and SQLite, using BatchControl to track metadata for each stage.

In [5]:
storage = Storage(output_dir="data/output")

# Messages
msg_batch = BatchControl("messages_load")
msg_batch.start(rows_expected=len(messages_df))
storage.write_csv(messages_df, "messages")
storage.write_sqlite(messages_df, "messages")
msg_batch.end(rows_loaded=len(messages_df))

# Attachments
att_batch = BatchControl("attachments_load")
att_batch.start(rows_expected=len(attachments_df))
storage.write_csv(attachments_df, "attachments")
storage.write_sqlite(attachments_df, "attachments")
att_batch.end(rows_loaded=len(attachments_df))

## Step 5: Summary
Display record counts and verify message-to-attachment relationships.

In [6]:
print(f"Messages total: {len(messages_df)}")
print(f"Attachments total: {len(attachments_df)}")
print(f"Messages with attachments: {messages_df['with_attachment'].sum()}")
print(f"Messages without attachments: {(~messages_df['with_attachment']).sum()}")

Messages total: 5
Attachments total: 3
Messages with attachments: 3
Messages without attachments: 2

## Step 6: Query SQLite Database
Query the SQLite database created by the pipeline to validate relational integrity and view batch control metadata.

In [7]:
import sqlite3
import pandas as pd

db_path = "data/output/etl_demo.db"
conn = sqlite3.connect(db_path)

# List tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in SQLite database:")
display(tables)

# Query messages
messages_sql = pd.read_sql_query("SELECT * FROM messages LIMIT 5;", conn)
print("Messages sample:")
display(messages_sql)

# Query attachments
attachments_sql = pd.read_sql_query("SELECT * FROM attachments LIMIT 5;", conn)
print("Attachments sample:")
display(attachments_sql)

# Join query
join_sql = pd.read_sql_query("""
SELECT m.email_id, m.message_id, m.speaker_name, a.attachment_name, m.batch_dt
FROM messages m
LEFT JOIN attachments a USING (message_id)
LIMIT 10;
""", conn)
print("Joined messages and attachments:")
display(join_sql)

Tables in SQLite database:

            name
0       messages
1  batch_control
2    attachments

Messages sample:

,email_id,message_id,timestamp,speaker_name,speaker_contact,message,with_attachment,batch_dt
0,sample_1,2a3c618c-0caf-4855-b983-fb8a17c28afd,2025-10-04T06:46:39.083897Z,Alice Example,alice@example.com,"Hello team, please find attached the report.",1,2025-10-04
1,sample_3,e8d78d1f-6ebf-404c-ac1b-710112307120,2025-09-28T06:46:39.085909Z,Carol Test,carol@example.com,Here is the updated project plan.,1,2025-10-04
2,sample_2,36babef1-9262-4c82-a6d4-72b2159c5d74,2025-10-01T06:46:39.085684Z,Bob Demo,bob@example.com,Reminder: standup meeting tomorrow at 9am.,0,2025-10-04
3,sample_5,0381bff2-7824-47a9-8854-47d97ffa0e34,2025-09-22T06:46:39.086356Z,Bob Demo,bob@example.com,Attached is the invoice for last month.,1,2025-10-04
4,sample_4,5ceaf3a3-26b8-434c-b109-9013cc8ca273,2025-09-25T06:46:39.086166Z,Alice Example,alice@example.com,Let's schedule a call next week.,0,2025-10-04

Attachments sample:

,email_id,attachment_name,content_id,content_type,message_id,batch_dt
0,sample_1,attachment_0.txt,5e990ec9-3fda-4b5f-8e33-b684e510eaca@example.com,text/plain,2a3c618c-0caf-4855-b983-fb8a17c28afd,2025-10-04
1,sample_3,attachment_2.txt,de13a5dd-cfa4-4ae5-bb28-67b411a10214@example.com,text/plain,e8d78d1f-6ebf-404c-ac1b-710112307120,2025-10-04
2,sample_5,attachment_4.txt,4ce7658f-54e8-4ebd-9df9-087962fbe86a@example.com,text/plain,0381bff2-7824-47a9-8854-47d97ffa0e34,2025-10-04

Joined messages and attachments:

,email_id,message_id,speaker_name,attachment_name,batch_dt
0,sample_1,2a3c618c-0caf-4855-b983-fb8a17c28afd,Alice Example,attachment_0.txt,2025-10-04
1,sample_3,e8d78d1f-6ebf-404c-ac1b-710112307120,Carol Test,attachment_2.txt,2025-10-04
2,sample_2,36babef1-9262-4c82-a6d4-72b2159c5d74,Bob Demo,None,2025-10-04
3,sample_5,0381bff2-7824-47a9-8854-47d97ffa0e34,Bob Demo,attachment_4.txt,2025-10-04
4,sample_4,5ceaf3a3-26b8-434c-b109-9013cc8ca273,Alice Example,None,2025-10-04

## Step 7: Review Batch Control Records
Confirm that batch control metadata has been written to both CSV and SQLite.

In [8]:
# Query batch_control table
batch_sql = pd.read_sql_query("SELECT * FROM batch_control ORDER BY created_at DESC;", conn)
print("Batch control summary:")
display(batch_sql)

# Optionally read from CSV
batch_csv_path = "data/output/batch_control.csv"
if os.path.exists(batch_csv_path):
    batch_csv = pd.read_csv(batch_csv_path)
    print("Batch control CSV:")
    display(batch_csv.tail())

conn.close()

Batch control summary:

,batch_name,start_time,end_time,duration_sec,rows_expected,rows_loaded,status,created_at
0,attachments_load,2025-10-04 15:48:44.970021,2025-10-04 15:48:44.971702,0.001681,3,3,SUCCESS,2025-10-04 15:48:44.971709
1,messages_load,2025-10-04 15:48:44.957262,2025-10-04 15:48:44.965591,0.008329,5,5,SUCCESS,2025-10-04 15:48:44.965604

Batch control CSV:

,batch_name,start_time,end_time,duration_sec,rows_expected,rows_loaded,status,created_at
0,messages_load,2025-10-04 15:48:44.957262,2025-10-04 15:48:44.965591,0.008329,5,5,SUCCESS,2025-10-04 15:48:44.965604
1,attachments_load,2025-10-04 15:48:44.970021,2025-10-04 15:48:44.971702,0.001681,3,3,SUCCESS,2025-10-04 15:48:44.971709

## ✅ Pipeline Complete
Data has been extracted, transformed, loaded, and verified.

Outputs:
- **Messages** → `data/output/messages.csv` and `etl_demo.db`
- **Attachments** → `data/output/attachments.csv` and `etl_demo.db`
- **Batch Control** → `data/output/batch_control.csv` and `etl_demo.db`

All data can be queried directly from SQLite for validation or reporting.